@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1770702472425') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucangjia:before {
  content: "\3432";
}

.icon-shuipingzuo:before {
  content: "\3437";
}

.icon-shuangyuzuo:before {
  content: "\3438";
}

.icon-mojiezuo:before {
  content: "\3439";
}

.icon-chunvzuo:before {
  content: "\343a";
}

.icon-shizizuo:before {
  content: "\343b";
}

.icon-juxiezuo:before {
  content: "\343c";
}

.icon-tianhezuo:before {
  content: "\343d";
}

.icon-sheshouzuo:before {
  content: "\343e";
}

.icon-tianchengzuo:before {
  content: "\343f";
}

.icon-shuangzizuo:before {
  content: "\3440";
}

.icon-jinniuzuo:before {
  content: "\3441";
}

.icon-muyangzuo:before {
  content: "\3442";
}

.icon-zhuanji:before {
  content: "\344b";
}

.icon-pubuliu:before {
  content: "\344c";
}

.icon-quanbu:before {
  content: "\344d";
}

.icon-wenzhang:before {
  content: "\344e";
}

.icon-tupian:before {
  content: "\344f";
}

.icon-baobei:before {
  content: "\3450";
}

.icon-dianpu:before {
  content: "\3451";
}

.icon-dazahui:before {
  content: "\3452";
}

.icon-sheyinglvxing:before {
  content: "\3453";
}

.icon-gaoxiaoquwei:before {
  content: "\3454";
}

.icon-mingxing:before {
  content: "\3455";
}

.icon-chongwu:before {
  content: "\3456";
}

.icon-DIY:before {
  content: "\3457";
}

.icon-meishi:before {
  content: "\3458";
}

.icon-qinggan:before {
  content: "\3459";
}

.icon-muying:before {
  content: "\345a";
}

.icon-jiaju:before {
  content: "\345b";
}

.icon-meifa:before {
  content: "\345c";
}

.icon-meirong:before {
  content: "\345d";
}

.icon-shuma:before {
  content: "\345e";
}

.icon-shishang:before {
  content: "\345f";
}

.icon-yundonghuwai:before {
  content: "\3460";
}

.icon-nanzhuang:before {
  content: "\3461";
}

.icon-peishi:before {
  content: "\3462";
}

.icon-xiezi:before {
  content: "\3463";
}

.icon-baobao:before {
  content: "\3464";
}

.icon-nvzhuang:before {
  content: "\3465";
}

.icon-bianji:before {
  content: "\3466";
}

.icon-shangchuan:before {
  content: "\3467";
}

.icon-quanbu1:before {
  content: "\34fe";
}

.icon-Uzhan:before {
  content: "\34ff";
}

.icon-wenzhang1:before {
  content: "\3500";
}

.icon-dianpu1:before {
  content: "\3501";
}

.icon-tupian1:before {
  content: "\3502";
}

.icon-baobei1:before {
  content: "\3503";
}

.icon-huore:before {
  content: "\f01f3";
}

.icon-xiexian:before {
  content: "\e6ae";
}

