@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1770701621458') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jubao:before {
  content: "\e61d";
}

.icon-xihuan:before {
  content: "\e61e";
}

.icon-gengduo:before {
  content: "\e61f";
}

.icon-kaitongfuwu:before {
  content: "\e620";
}

.icon-qianshuxieyi:before {
  content: "\e621";
}

.icon-dianpu:before {
  content: "\e622";
}

.icon-guanzhu-zhihui:before {
  content: "\e623";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-bianji:before {
  content: "\e625";
}

.icon-jinru:before {
  content: "\e626";
}

.icon-xiala:before {
  content: "\e627";
}

.icon-chuang:before {
  content: "\e628";
}

.icon-xiuxishi:before {
  content: "\e629";
}

.icon-yigui:before {
  content: "\e62a";
}

.icon-xiuxianqu:before {
  content: "\e62b";
}

.icon-shuzhuo:before {
  content: "\e62c";
}

.icon-zhinengmensuo:before {
  content: "\e62d";
}

.icon-qiantai:before {
  content: "\e62e";
}

.icon-shuba:before {
  content: "\e62f";
}

.icon-dianshiji:before {
  content: "\e630";
}

.icon-weibolu:before {
  content: "\e631";
}

.icon-canzhuo:before {
  content: "\e632";
}

.icon-zhuoqiuqu:before {
  content: "\e633";
}

.icon-nuanqi:before {
  content: "\e634";
}

.icon-shafa:before {
  content: "\e635";
}

.icon-jianshenfang:before {
  content: "\e636";
}

.icon-bianlidian:before {
  content: "\e637";
}

